- model_class = Ticker
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th Last Known Price
  %tbody
    - @tickers.each do |ticker|
      %tr
        %td= link_to ticker.name, ticker
        %td= ticker.last_poll.amount
