- model_class = Ticker
.page-header
  %h1=t '.title', :default => @ticker.name

%table.table
  %thead
    %tr
      %th Poll Time
      %th Amount
  %tbody
    - @ticker.polls.order('created_at DESC').first(15).each do |poll|
      %tr
        %td= l poll.created_at
        %td= poll.amount

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), tickers_path, :class => 'btn'

#chart-data
  %script{type: 'text/javascript'}= @ticker.to_graph_json(@player).html_safe if @player

#chart
