- model_class = Ticker
.page-header
  %h1=t '.title', :default => @ticker.name

%table.table
  %thead
    %tr
      %th Poll Time
      %th Amount
  %tbody
    - @ticker.polls.order('created_at DESC').first(15).each do |poll|
      %tr
        %td= l poll.created_at
        %td= poll.amount

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), player_path(@player), :class => 'btn'

#chart-data
  %script{type: 'text/javascript'}= Contract.where(ticker_id: @ticker.id, player_id: @player.id).first.to_graph_json.html_safe

#chart
